body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(270deg, #08c8b8, #089cc8);
  background-size: 100% 100%;
  z-index: 0;
  
}

.monedas{
  width:150px;
  height:30px;
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
}

.header{
  width: 100%;
  vertical-align: auto;
  background-color: white;
  height: 80px;
  box-shadow: 0px 0px 7px 0px;
  z-index: 3;

    
}

.header img{
  height: 60px;
  position:inherit;
  padding: 5px;
  float: left;
}

.header h4{
  position: inherit;
  text-align: center;
  display: inline-flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}

.titulo{

  color: rgb(226, 64, 86);
  font-family:'Gill Sans';
  font-size:35px;  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.formulario{
  margin: 20px;
  padding: 80px;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  display: flexbox;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 20px;
  z-index: 0;
  box-shadow: 0px 0px 7px 0px;
}

.card{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin: 5%;
  position: relative;
  display: flexbox;
  padding:0px;
  background-color: rgba(231, 231, 231, 0.521);
  z-index: 0;
}

.row{
  display: flex;
  align-items: center;
  width:100%;
}

.card-body{
  width: auto;
  
}

.contenedor{
  background-color: white;
  margin-top: 8px;
  border-radius: 8px;
}

.defecto{
  color: darkgray;
}


